# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.lock

.idea

.vscode

vendor

incognitoctl
constantctl

incognito-bootnode
constant-bootnode

/dev-env/nodes-data/node*/data
# Build Directory
/privacy/server/build
*.o

privacy/server/proving\.key

privacy/server/verifying\.key
.DS_Store
.env
datadirs/data**
data/**
constant-*
constant_*
incognito-*
incognito_*

pkg
src/.com
src/golang.org
src/google.golang.org
src/rpcserver
bootnode
go.mod
go.sum

priv.json
bin/keylist.json
bin/incognito
incognito
