# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.lock

.idea

.vscode

vendor

incognitoctl
constantctl

incognito-bootnode
constant-bootnode

/dev-env/nodes-data/node*/data
# Build Directory
/privacy/server/build
*.o

privacy/server/proving\.key
/privacy/wasm/*.wasm

privacy/server/verifying\.key
.DS_Store
.env
datadirs/data**
data/**
ethdata/**
constant-*
constant_*
incognito-*
incognito_*

pkg
src/.com
src/golang.org
src/google.golang.org
src/rpcserver

priv.json
bin/keylist.json
bin/keylist-v2.json
bin/incognito
bin/incognito-test
bin/bootnode
bin/sample-config.conf
incognito
config

mempool/testdatabase
cmd/incognito
blockchain/testparams/*
tmp/*
bin/data

# vim
*.swp   
*.swo
*~
tags
.txt